.login-con p{
    color: #252B42;
}

.login-con form input,
.gender {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
}

.login-con form input::placeholder{
    color: #E0E0E0;
}

.login,
.shopping-btn {
    background-image: linear-gradient(to right, #252B42, #5E6DA8);
}

.login-link {
    color: #23A6F0;
}