.login-con p {
    color: #00B6A9;
}

.login-con form input,
.gender {
    border: 1px solid #E0E0E0;
    border-radius: 12px;
}

.login-con form input::placeholder {
    color: #E0E0E0;
}

.login,
.shopping-btn {
    background-image: linear-gradient(to right, #00B6A9, #8AD0C3);
}

.login-link {
    color: #23A6F0;
}