input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: transparent; 
    outline: none;
    cursor: pointer;
}

input[type="radio"]:checked::before {
    content: '';
    display: block;
    width: 14px;
    height: 13px;
    border-radius: 46%;
    position: relative;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.location input[type="radio"] {
    border: 2px solid black;
}

.location input[type="radio"]:checked::before {
    background-color: black;
}

.payment input[type="radio"]:checked::before {
    background-color: #5E6DA8;
}

.payment input[type="radio"] {
    border: 2px solid #5E6DA8;
}