@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'myFirstFont';
  src: url('../assets/fonts/RH-Zak-Reg.otf');
}

div {
  font-family: 'myFirstFont';
}

svg {
  width: 20px;
  height: 20px;
}

