@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 20px;
  height: 20px;
}

@keyframes move {
  0% {
    transform: translateX(50%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

.animate-move {
  animation: move 10s linear infinite;
}
