.links a::after {
    content: '';
    position: absolute;
    background-color: #FFFFFF;
    left: 0;
    bottom: -5px;
    border-radius: 6px;
    width: 0px;
    height: 3px;
    transition: 0.3s;
}

.links a:hover::after {
    width: 100%;
}