span.active::after{
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 4px;
  border-radius: 12px;
  background-color: white;
}

.css-13cymwt-control {
    width: 100%;
    margin-left: 68px;
}

.favourite-products svg {
    width: 20px;
    height: 20px;
}

.similar-products .product img.thumbnail,
.fav-products .product img.thumbnail{
  height: 300px;
}

.css-13cymwt-control{
  border: none !important;
  border-radius: 8px !important;
  padding: 6px !important;
}